<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
/*------------*\
 Utilities 
*\------------*/
.tag-line{
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}
.body{
    background-color:#aaaaaa45;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/*---------------*\
 Header Styles
\*-------------- */
header{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
header h2{
    font-weight: 700;
    font-size: 24px;
}
.nav-bar ul{
    display: flex;
}
.nav-bar li{
    list-style-type: none;
    margin-right: 34px;
    font-weight: 600;
    font-size: 16px;
}
.nav-bar a{
    text-decoration: none;
    color: black;
}
/*----------------*\
 First Section
\*----------------*/
.first-section{
    display: flex;
    margin-top: 80px;
}
.influencer-details{
    width: 40%;
    margin-left: 100px;
    margin-top: 60px;
}
.influencer-details h1{
    font-weight: 700;
    font-size: 52px;
}
.influencer-details p{
    font-weight: 600;
    font-size: 16px;
}
.influencer-image{
    margin-left: 130px;
    background-image: url('/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position-y: -20px;
}
.influencer-image img{
    width: 440px;
    height: 414px;
}
.influencer-details .button{
    text-decoration: none;
    color:white;
    background-color: #E02C6D;
    padding: 10px 25px;
    border-radius: 41px;
    font-weight: 700;
    font-size: 16px;
}
.influencer-details .button .fa-arrow-right{
    margin-left: 10px;
    margin-top: 20px;
}
/*-------------*\
 Logo Area
\*-------------*/
.logo-area{
    margin-top: 100px;
    width: 1110px;
    height: 110px;
    margin-left: 85px;
}
.logos{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 20px 0px;
}
/*-----------------*\
 Collection Area
\*-----------------*/
.collection-area{
    width: 1100px;
    height: 1662px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 5px;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.collection{
    width: 280px;
    height: 476px;
    padding: 5px;
    background-color: white;
    border-radius: 2px;
}
.collection img{
    width: 100%;
}
.collection-area{
    margin-top: 100px;
}
.collection-container h2{
    margin-left: 505px;
    font-weight: 700px;
    font-size: 28px;
   
}
.collection-details .ratings{
    display: flex;
}
.collection-details .ratings ul{
    display: flex;
    margin-right: 10px;
    padding: 0px;
}
.collection-details .ratings li{
    list-style-type: none;
    color: orange;
}
.collection-area a{
    margin-left: 1000px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #E02C6DDE;
}
/*-----------------*\
 Last Section
\*------------------*/
.last-section{
    margin-top: 200px;
    margin-left: 165px;
}
.feature{
    display: flex;
    width: 1054px;
    height: 270px;
}
.featured-details{
    margin-left: 20px;
}
.featured-details h2{
    font-weight: 700;
    font-size: 38px;
}
.featured-details p{
    margin-left: 50px;
    width: 501px;
    font-weight: 700;
    font-size: 16px;
}
.featured-details a{
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 8px 12px;
}
.featured-details i{
    position: ;
    left: 5px;
    top: 2px;
}
/*---------------*\
 Footer Area
\*----------------*/
footer{
    background-color: black;
    margin-top: 100px;
    height: 225px;
    position: relative;
}
.influencer-product{
    width: 262px;
    height: 139px;
    margin-left: 550px;
    position: absolute;
    top: 20px;
}
.influencer-product h2{
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-left: 10px;
}
.influencer-product p{
    font-weight: 700;
    font-size: 14px;
    color: white;
}
.social-links ul{
    display: flex;
    margin-left: 25px;
}
.social-links li{
    list-style-type: none;
    margin-right: 20px;
}
.social-links a{
    text-decoration: none;
    color: white;
}
#center-text{
    text-align: center;
}